# Logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

.tmp/json
errorShots
coverage
ScreenShots
results-*.xml
reports/*
# Editor files
.idea
.vscode
!.vscode/extensions.json
yarn.lock
timereport
config/.env
.env
temp/*
downloads/*