# Triggers and schedules disabled in yaml, moved to pipeline settings UI
# Scheduled triggers defined using the pipeline settings UI take precedence over YAML scheduled triggers.
trigger: none
pr: none
pool:
  name: Agilence
parameters:
- name: SourceSystem
  displayName: Source System - Used as the source for the comparison
  type: object
  default:
    appServer: 'RPT-TEST-MASTER'
    dbServer: 'RPT-TEST-MASTER'
    url: rpt-test-master.agilenceqa.com
    softwareBranch: 'master'
    softwareBuild: 'latest'
- name: TestSystem
  displayName: Test System - Will be compared to the Source System to test for changes
  type: object
  default:
    appServer: 'RPT-TEST-DEV'
    dbServer: 'RPT-TEST-DEV'
    url: rpt-test-dev.agilenceqa.com
    softwareBranch: 'develop'
    softwareBuild: 'latest'
- name: CustomerInstaller
  displayName: Customer Installer
  type: string
  default: Anonymous
- name: REPORT_INTERVAL
  displayName: Report Interval Days - Comparisons will only run on reports within this timeframe
  type: number
  default: 60
- name: TIMEOUT_SECONDS
  displayName: Timeout Seconds - Maximum time to wait for a report to be generated
  type: number
  default: 300
- name: RUN_SOURCE_DEPLOYMENT
  displayName: Run Deployment on the Source System
  type: boolean
  default: true
- name: RUN_TEST_DEPLOYMENT
  displayName: Run Deployment on the Test System
  type: boolean
  default: true
- name: RUN_DB_RESTORE
  displayName: Restore the DB from the Source System to the Test System
  type: boolean
  default: true
- name: RUN_REPORTS
  displayName: Run Reports Comparison
  type: boolean
  default: true
- name: RUN_QUERIES
  displayName: Run Queries Comparison
  type: boolean
  default: true
- name: RUN_DASHBOARDS
  displayName: Run Dashboards Comparison
  type: boolean
  default: true
- name: RUN_FACTTABLE_COMPARISON
  displayName: Run agFact Table Comparison
  type: boolean
  default: false
variables:
  AWX_SCRIPT_PATH: '\\installers\Artifacts\DevOps\master\Scripts\New-AWXJobFromTemplate.ps1'
stages:
- stage: 'Deploy'
  jobs:
    - job: Update_Source_System
      displayName: Update Source System
      variables:
        EXTRA_VARS: "@{software_branch='${{ parameters.SourceSystem.softwareBranch }}'; vm_name='${{ parameters.SourceSystem.appServer }}'; installer_overrides = @{ argumentReplacements= @{ DatabaseServer='${{ parameters.SourceSystem.dbServer }}';};}; customer_name='${{ parameters.CustomerInstaller }}'; run_windows_updates='false'; software_build= '${{ parameters.SourceSystem.softwareBuild }}'; bundle_root_path= '\\\\Installers\\Artifacts\\bundles'; deploy_feature_containers= 'false'}"
        TEMPLATE_ID: 179
      steps: 
      - task: PowerShell@2
        displayName: "Run AWX Deployment"
        condition: ${{ parameters.RUN_SOURCE_DEPLOYMENT }}
        inputs:
          filePath: $(AWX_SCRIPT_PATH)
          arguments: '-bearerToken "$(AWX_API_TOKEN)" -baseUri "$(AWX_API_BASE)" -ExtraVars $(EXTRA_VARS) -TemplateId $(TEMPLATE_ID) -SCMBranch "master" -CredentialID $(CREDENTIAL_ID)'
          failOnStderr: true
          pwsh: true
    - job: Restore_Backup_From_Source
      displayName: "Restore Backup from ${{ parameters.SourceSystem.dbServer }} to ${{ parameters.TestSystem.dbServer }}"
      dependsOn: ['Update_Source_System']
      variables:
        EXTRA_VARS: "@{'source_db_server'='${{ parameters.SourceSystem.dbServer }}'; 'destination_db_server'='${{ parameters.TestSystem.dbServer }}'; 'backup_folder'='E:\\Backups'; 'db_file_folder'='E:\\Databases'; 'db_log_folder'='E:\\Databases'; 'database_names'='\"agFact\", \"agLog\", \"evGlobalConfig\", \"StoreVision\", \"QueryCache\"'}"
        TEMPLATE_ID: 237
      steps:
      - task: PowerShell@2
        condition: ${{ parameters.RUN_DB_RESTORE }}
        inputs:
          filePath: $(AWX_SCRIPT_PATH)
          arguments: '-bearerToken "$(AWX_API_TOKEN)" -baseUri "$(AWX_API_BASE)" -ExtraVars $(EXTRA_VARS) -TemplateId $(TEMPLATE_ID) -SCMBranch "master" -CredentialID $(CREDENTIAL_ID)'
          failOnStderr: true
          pwsh: true
    - job: Update_Test_System
      displayName: Update Test System
      dependsOn: ['Restore_Backup_From_Source']
      variables:
        EXTRA_VARS: "@{software_branch='${{ parameters.TestSystem.softwareBranch }}'; vm_name='${{ parameters.TestSystem.appServer }}'; installer_overrides = @{ argumentReplacements= @{ DatabaseServer='${{ parameters.TestSystem.dbServer }}';};}; customer_name='${{ parameters.CustomerInstaller }}'; run_windows_updates='false'; software_build= '${{ parameters.TestSystem.softwareBuild }}'; bundle_root_path= '\\\\Installers\\Artifacts\\bundles'; deploy_feature_containers= 'false'}"
        TEMPLATE_ID: 179
      steps: 
      - task: PowerShell@2
        displayName: "Run AWX Deployment"
        condition: ${{ parameters.RUN_TEST_DEPLOYMENT }}
        inputs:
          filePath: $(AWX_SCRIPT_PATH)
          arguments: '-bearerToken "$(AWX_API_TOKEN)" -baseUri "$(AWX_API_BASE)" -ExtraVars $(EXTRA_VARS) -TemplateId $(TEMPLATE_ID) -SCMBranch "master" -CredentialID $(CREDENTIAL_ID)'
          failOnStderr: true
          pwsh: true
- stage: 'Test'
  jobs:
  - job: Run_Tests
    timeoutInMinutes: 0 # Set to unlimitted
    displayName: Run Comparison Tests
    variables:
      JUNIT_REPORTS_FOLDER: ./reports/junit
    steps:
    - task: PowerShell@2
      displayName: Run agFact Table Comparison Tests
      inputs:
        targetType: inline
        script: |
          if('${{ parameters.RUN_FACTTABLE_COMPARISON }}' -eq 'true'){
            try {
              Write-Output "Running agFact Table Comparison..."
              $OutputDirectory = "$(Build.ArtifactStagingDirectory)/FactTableComparison" 
              & ".\PS-Scripts\RunFactTableComparison.ps1" -SourceServer "${{ parameters.SourceSystem.dbServer }}" -TargetServer "${{ parameters.TestSystem.dbServer }}" -OutputDirectory $OutputDirectory
            } catch {
              if($_.Exception.Message -match "Error: Differences detected") {
                throw "Differences detected in agFact Table Comparison. See log output above or pipeline artifacts for details."
              } else {
                throw $_.Exception.Message
              }
            }
          }
        condition: ${{ parameters.RUN_FACTTABLE_COMPARISON }}
    - task: PublishBuildArtifacts@1
      displayName: Attach agFact Comparison Results to Pipeline
      condition: failed()
      inputs:
        PathtoPublish: "$(Build.ArtifactStagingDirectory)/FactTableComparison"
        ArtifactName: "FactTableComparisonResults"
    - task: NodeTool@0
      inputs:
        versionSource: 'spec'
        versionSpec: '20.18.1' # The Canvas package requires Node 20.18.1 to run the tests, when that dependency is removed or updated this version can be updated or removed
    - task: Npm@1
      displayName: NPM Install
      inputs:
        command: install
      retryCountOnTaskFailure: 5
    - task: PowerShell@2
      displayName: Run Comparison Tests
      continueOnError: true
      env:
          TESTMO_TOKEN: $(TESTMO_TOKEN) # Testmo expects the API key to be stored as a variable called TESTMO_TOKEN
      inputs:
        targetType: inline
        script: |
          $suites_to_run = @()

          if('${{ parameters.RUN_REPORTS }}' -eq 'true'){
            $suites_to_run += 'reportsComparison'
          }
          if('${{ parameters.RUN_QUERIES }}' -eq 'true'){
            $suites_to_run += 'queriesComparison'
          }
          if('${{ parameters.RUN_DASHBOARDS }}' -eq 'true'){
            $suites_to_run += 'dashboardsComparison'
          }

          # Run the feature to generate the comparison feature files
          npx wdio run wdio.comparisons.conf.ts server=${{ parameters.SourceSystem.url }} dbserver=${{ parameters.SourceSystem.dbServer }} dbserver2=${{ parameters.TestSystem.dbServer }} days=${{ parameters.REPORT_INTERVAL }} --suite generate

          # Run the comparison feature files
          npx wdio run wdio.comparisons.conf.ts server=${{ parameters.SourceSystem.url }} server2=${{ parameters.TestSystem.url }} user=$(REPORTING_USERNAME) password=$(REPORTING_PASSWORD) --timeout=${{ parameters.TIMEOUT_SECONDS }}000 --suite $suites_to_run

          Write-Output "Sending test results to Testmo"
          testmo automation:run:submit --instance https://agilence.testmo.net --project-id 6 --name "Report Comparison Tests for ${{ parameters.TestSystem.appServer }}" --source "Azure-Comparison-Tests-Pipeline" --results $(JUNIT_REPORTS_FOLDER)/*.xml
    - task: PowerShell@2
      displayName: Attach Screenshots to Junit Results
      continueOnError: true
      inputs:
        targetType: inline
        script: |
          $screenshot_folder_path = "$(Build.SourcesDirectory)\ScreenShots" 
          $screenshot_folder = Get-ChildItem $screenshot_folder_path -Directory -Exclude 'actual'

          if($screenshot_folder) {
            Write-Output "Found Screenshots folder at $($screenshot_folder.FullName)"
          } else {
            throw "Unable to find Screenshots folder at $screenshot_folder_path" 
          }

          $junit_xml_path = "$(JUNIT_REPORTS_FOLDER)\junit-test-results.xml"
          
          Write-Output "Loading JUnit report at $junit_xml_path"
          [xml]$junit_xml = Get-Content -Path $junit_xml_path

          Write-Output "Adding attachments to test failures"
          # Iterate through all test case elements
          foreach ($test in $junit_xml.testsuites.testsuite.testcase) {
              # Check if the test case has a failure element and if the failure was due to a difference
              if ($test.failure -and $test.failure.message -match 'Differences') {
                  # Get the item type and ID of the failure by splitting the test name
                  $item_type = ($test.Name -split 'For ')[1] -split ' ' | Select-Object -First 1
                  $item_id = ($test.Name -split '"')[1]

                  # Find a the associated screenshots
                  $attachments = Get-ChildItem -Path "$($screenshot_folder.FullName)\${item_type}-${item_id}-*" -Recurse

                  if($attachments) {
                    # Append a <system-out> element with the paths to the screenshots and txt files
                    $system_out_element = $junit_xml.CreateElement("system-out")
                    $system_out_element.InnerText = "<![CDATA[`n$(($attachments.FullName | ForEach-Object { "[[ATTACHMENT|$_]]" } | Out-String).Trim())`n]]>"
                    $test.AppendChild($system_out_element) | Out-Null
                  }
              }
          }

          # Save the modified XML back to the file
          $junit_xml.Save($junit_xml_path)

          Write-Output "JUnit XML file has been updated successfully."
    - task: PublishBuildArtifacts@1
      displayName: Publish Screenshots to Azure
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/ScreenShots'
        ArtifactName: 'Screenshots'
        publishLocation: 'Container'
    - task: PublishBuildArtifacts@1
      displayName: Publish Test Reports to Azure
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/reports/${{ parameters.SourceSystem.url }}'
        ArtifactName: 'TestReports'
        publishLocation: 'Container'
    - task: PublishTestResults@2
      displayName: Publish Comparison Test Results
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '*.xml'
        searchFolder: $(JUNIT_REPORTS_FOLDER)
        failTaskOnFailedTests: true